.overlay{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    place-content: center;
}
.overlay::after{
content: "X";
color: black;
font-family: sans-serif;
text-align: center;
line-height: 2rem;
display: block;
position: absolute;
top: 8rem;
right: 1rem;
width: 2rem;
height: 2rem;
border: 2px solid #000;
border-radius: 50%;
cursor: pointer;
}
.overlay>figure{
    margin: 0;
    padding: 2rem;
    border: solid rgba(255, 255, 255, 0.2) 5px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor:wait;
}
img {
    max-width: 100%;
}
button{
    width: 512px;
    height: 288px;
background: url(/Ce-que-jai-realise-pendent-le-td-precedent/daki_gyutaro_white_background_hd_demon_slayer_kimetsu_no_yaiba-2560x1440.jpg) ;
background-size: 100%;
border: solid 1px black;
}